<div class="list">

  <!-- Primer input -->
  <label class="item item-input custom-item-input">

    <span class="custom-item-input-label">Lugar:</span>

    <label class="custom-item-input-padding" modal-select="" on-select="changeProyectoSeleccionado()"; ng-model="data.dg_proyecto" options="optionsProyecto" modal-title="Selecciona un proyecto" has-search="true">

        <div ng-if="!data.dg_proyecto">Seleccione un proyecto</div>
        <div ng-if="data.dg_proyecto">{{data.dg_proyecto}}</div>
        <div class="option"> {{option}} </div>

    </label>

  </label>

  <!-- Segundo input -->
  <label class="item item-input custom-item-input">

    <span class="custom-item-input-label">Etapa:</span>

    <label class="custom-item-input-padding" ng-show="data.dg_proyecto" modal-select=""  ng-model="data.dg_etapa" options="optionsEtapa" modal-title="Selecciona una etapa" has-search="true">

      <div ng-if="!data.dg_etapa">Seleccione una etapa</div>
      <div ng-if="data.dg_etapa">{{data.dg_etapa}}</div>
      <div class="option"> {{option}} </div>

    </label>

  </label>

  <!-- Tercer Input -->
  <label class="item item-input custom-item-input">

    <span class="custom-item-input-label">Propiedad:</span>

    <label class="custom-item-input-padding" modal-select=""  ng-model="data.dg_propiedad" options="optionsPropiedad" modal-title="Seleccione una propiedad" has-search="true">

      <div ng-if="!data.dg_propiedad">Seleccione una propiedad</div>
      <div ng-if="data.dg_propiedad">{{data.dg_propiedad}}</div>
      <div class="option"> {{option}} </div>

    </label>

  </label>

  <!-- Cuarto Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Manzana:</span>
    <input  class="custom-item-input-padding" type="text" ng-model="data.dg_manzana_lote" placeholder="Ej: SERRANO 627, SANTIAGO">
  </label>

  <!-- Quinto Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha R.M:</span>
    <input type="text" readonly="true" class="readonly_custom custom-item-input-padding" ng-click="openFechaRMPicker()" ng-model="data.dg_fecha_rm" placeholder="Ej: 20/03/2017">
  </label>

  <!-- Sexto Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha Entrega:</span>
    <input type="text" readonly="true" class="readonly_custom custom-item-input-padding" ng-click="openFechaEntregaPicker()" ng-model="data.dg_fecha_entrega" placeholder="Ej: 20/03/2017">
  </label>

  <!-- Septimo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Propietario:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dg_propietario" placeholder="Ej: Sebastian Morales">
  </label>

  <!-- Octavo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">E-mail:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dg_email" placeholder="Ej: sebastian.morales@gmail.com">
  </label>

  <!-- Noveno Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Telefonos:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dg_telefonos" placeholder="Ej: 12345678">
  </label>

  <!-- Decimo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Contacto:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dg_contacto" placeholder="Ej: 12345678">
  </label>

  <!-- Onceavo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fono contacto:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dg_fono_de_contacto" placeholder="Ej: 12345678">
  </label>

  </div>
