<div class="list">

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Duración estimada:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dt_duracion_estimada" placeholder="Ej: 1 día">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Responsable:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dt_responsable" placeholder="Ej: PRE-ENTREGA RECHAZOS">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha ejecución:</span>
    <input type="text" readonly="true" class="readonly_custom custom-item-input-padding" ng-click="openFechaEjecucionPicker()" ng-model="data.dt_fecha_ejecucion">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Hora ejecución:</span>
    <input class="custom-item-input-padding" type="text" ng-model="data.dt_hora_ejecucion">
  </label>

</div>
