<div class="list">

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.ds_fecha_solicitud">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Medio Solicitud:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.ds_medio_solicitud">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Visitante:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.ds_visita_efectuada_por">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Recepción:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.ds_nombre_quien_recibe">
  </label>

</div>
