<div class="list">

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Duración estimada:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dt_duracion_estimada">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Responsable:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dt_responsable">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha ejecución:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dt_fecha_ejecucion">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Hora ejecución:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dt_hora_ejecucion">
  </label>

</div>
