<div class="list">

  <!-- Primer input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Lugar:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_proyecto">
  </label>


  <!-- Segundo input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Etapa:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_etapa">
  </label>

  <!-- Tercer Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Propiedad:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_propiedad">
  </label>


  <!-- Cuarto Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Manzana:</span>
    <input  class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_manzana_lote">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Tipo propiedad:</span>
    <input  class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_tipo_de_propiedad">
  </label>


  <!-- Sexto Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha R.M:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_fecha_rm">
  </label>

  <!-- Septimo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha Entrega:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_fecha_entrega">
  </label>

  <!-- Octavo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Propietario:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_propietario">
  </label>

  <!-- Noveno Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">E-mail:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_email">
  </label>

  <!-- Decimo Input -->
  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Telefonos:</span>
    <input class="readonly_custom custom-item-input-padding" type="text" readonly="true" ng-model="data.dg_telefonos">
  </label>


  </div>
