<ion-view> 
	<ion-content class="has-header" style ="height: 100%; position: absolute; margin-top: 40px">
		<div class="card center" style="width: 70%">
			<a href="/#/inputActConformity" class="item item-calm">
				<h2>Juan Peréz</h2>
				<p>Explotó cañería WC</p>
			</a>
			<a href="/#/inputActConformity" class="item item-calm">
				<h2>Pablo Gonzaléz</h2>
				<p>Explotó MER</p>
			</a>
		</div>
		<div class ="bar bar-footer my-footer" style="position: relative;">
	    	<a class="icon ion-chevron-left button button-calm pull-left" href="/#/docs" style="width: 40%"></a>
	    	<a class="icon ion-home button button-calm pull-right" href="/#/home" style="width: 40%"></a>
		</div>
	</ion-content>
</ion-view>