<ion-view> 
	<ion-content class="has-header" style ="height: 100%; position: absolute; margin-top: 40px">
		<div style ="position: absolute; left: 25%">
			<div>
				<h2>Juan Peréz</h2>
				<p>Explotó cañería WC</p>
				<h2>Pablo Gonzaléz</h2>
				<p>Explotó MER</p>
			</div>
		</div>
	<div class="bar bar-nav" style="position: absolute; top: -30%;">
		<ol>
			<li> 
				<a href="/#/home" class="button button-calm icon icon-home"></a> 
			</li>
			<li>
	        	<a class="icon ion-chevron-left button button-calm" href="/#/home" style="position: absolute;"></a>
	      	</li>
		</ol>
	</div>
	</ion-content>
</ion-view>