<ion-view>
  <ion-content class="has-header" style ="height: 100%; position: absolute;"> 
  	<div>
  		<img src="img/building.png">
  	</div>
  	<div class ="bar bar-footer" style="position: absolute;">
        <a class="icon ion-chevron-left button button-calm pull-left" href="/#/docs" style="width: 30%">

        </a>
        <a class="icon ion-home button button-calm " href="/#/home" style="position: ab; width: 30%; left: 4.5%"></a>

        <a 
        class="icon ion-chevron-right button button-calm pull-right" 
        href="/#/building" 
        style="width: 30%"></a>
    </div>
  </ion-content>
</ion-view>	