<ion-view ng-controller="docsCtrl">

  <ng-include src="'partials/navbar.html'"></ng-include>

  <ion-content class="has-header">

      <div style="padding: 0% 10%">

  			<button class="button button-block button-stable" ng-click="changeState('newWorkOrder');">Orden de trabajo</button>

  			<button class="button button-block button-stable" ng-click="changeState('listOrdenDeTrabajo2');">Orden de inspección</button>

        <div class="row">
          <div class="col">
            <button class="button button-block button-calm pull-left" ng-click="changeState('home');">
              <span class="icon ion-arrow-left-a"></span>
              Volver
            </button>
          </div>
          <div class="col"><!-- Nada --></div>
        </div>


  		</div>

  </ion-content>
</ion-view>
