<ion-view>
  <ion-content class="has-header" style ="height: 100%; position: absolute; margin-top: 40px">  
    <div>
      <a class = "button button-balanced button-block" href="/#/acts">
          <h4>
              Acta de conformidad
          </h4>
      </a>
      <a class = "button button-balanced button-block" href="/#/acts">
          <h4>
              Acta de rechazo
          </h4>
      </a>
      <a class = "button button-balanced button-block" href="/#/acts">
          <h4>
              Orden de trabajo
          </h4>
      </a>
      <a class = "button button-balanced button-block" href="/#/acts">
          <h4>
              Orden de inspección
          </h4>
      </a>
    </div>
    <ion-footer class="segment-button"> 
    <ol>
      <li>
        <a class="icon ion-home button button-calm" href="/#/home" style="position: absolute; left: 50%;"></a>
      </li>
    </ol>
    </ion-footer>
  </ion-content>
</ion-view>  
