<ion-view ng-controller="homeCtrl">

	<ng-include src="'partials/navbar.html'"></ng-include>

	<ion-content class="has-header">

		<div style="padding: 0% 10%">

			<button class="button button-block button-stable" ng-click="changeState('docs');">Nuevo documento</button>

			<button class="button button-block button-stable" ng-click="changeState('docsEdit');">Editar documento</button>

			<button class="button button-block button-stable" ng-click="changeState('');">Enviar documentos</button>

			<button class="button button-block button-assertive" ng-click="changeState('');">Eliminar documentos</button>

		</div>
	</ion-content>
</ion-view>
