<ion-view ng-controller="homeCtrl">

	<!-- Navbar -->
	<div ng-controller="navbarCtrl" class="bar bar-header bar-dark">
	  <div class="h1 title">Inicio</div>
	  <button ng-click="openPopover($event)"  class="button button-icon icon ion-navicon"></button>
	</div>

	<!-- Contenido -->
	<!-- Observación: No es la mejor manera de codificar cada ion-item, pero funciona de todas maneras... -->
	<ion-content class="has-header" >

    <ion-list>

      <ion-item ng-click="changeState('docs')">
				<div class="item-listing">
					<span class="ion-plus-circled item-icon"></span>
					<span class="item-text">Nuevo Documento</span>
					<span class="ion-chevron-right item-caret"></span>
				</div>
      </ion-item>

			<ion-item ng-click="changeState('docsEdit')">
				<div class="item-listing">
					<span class="ion-compose item-icon"></span>
					<span class="item-text">Editar Documento</span>
					<span class="ion-chevron-right item-caret"></span>
				</div>
			</ion-item>

			<ion-item ng-click="changeState('docsView')">
				<div class="item-listing">
					<span class="ion-eye item-icon"></span>
					<span class="item-text">Ver Documentos</span>
					<span class="ion-chevron-right item-caret"></span>
				</div>
			</ion-item>

			<ion-item ng-click="changeState('docsConformityRecord')">
				<div class="item-listing">
					<span class="ion-checkmark-circled item-icon"></span>
					<span class="item-text">Firmar Documento</span>
					<span class="ion-chevron-right item-caret"></span>
				</div>
			</ion-item>


			<ion-item ng-click="changeState('docsRejection')">
				<div class="item-listing">
					<span class="ion-close-circled item-icon"></span>
					<span class="item-text">Rechazar Documento</span>
					<span class="ion-chevron-right item-caret"></span>
				</div>
			</ion-item>


    </ion-list>

  </ion-content>

</ion-view>
