<ion-view>
  <ion-content class="has-header" style ="height: 100%; position: absolute; margin-top: 40px">  
    <div class="center" style="width: 100%">
      <h1>Acta de conformidad</h1>
      <h2 class="label">Cliente</h2>  
    </div>
    <ol class="list">
      <li class="item">
        <a class="label fixed">Nombre completo</a>
        <input class="input" type="text" value=""></input>
      </li>
      <li class="item">
        <a class="label fixed">RUT</a>
        <input class="input" type="text" value=""></input>
      </li>
      <li class="item">
        <a class="label fixed">Dirección de propiedad</a>
        <input class="input" type="text" value=""></input>
      </li>                
    </ol>  
    <div class ="bar bar-footer" style="position: relative;">
        <a class="icon ion-chevron-left button button-calm pull-left" href="/#/docs" style="width: 30%">

        </a>
        <a class="icon ion-home button button-calm " href="/#/home" style="position: relative; width: 30%; left: 4.5%"></a>

        <a 
        class="icon ion-chevron-right button button-calm pull-right" 
        href="/#/inputActConformity2" 
        style="width: 30%"></a>
    </div>
  </ion-content>  
</ion-view>

