<ion-view>

  <ng-include src="'partials/navbar.html'"></ng-include>

  <ion-content class="has-header">

      <div style="padding: 0% 10%">
          <div class="list card">
            <a href = "/#/works/{{data.id}}" class="item" ng-repeat="data in ordenesDeTrabajo">
              <h2>{{data.folio}}</h2>
              <h3>{{data.datos_generales.propietario}}
            </div>
          </a>
  		</div>
	    <div class="row">
	      <div class="col">
	        <button class="button button-block button-calm pull-left" ng-click="changeState('docsEdit');">
	          <span class="icon ion-arrow-left-a"></span>
	          Volver
	        </button>
	      </div>
	      <div class="col"><!-- Nada --></div>
	    </div>
  </ion-content>
</ion-view>
