<ion-view view-title="Login" ng-controller="logInCtrl" name="login-view">

  <ion-content class="has-header" style="padding: 10% 10%">

      <div class="list list-inset">

          <label class="item item-input">

              <input type="text" placeholder="Correo electrónico" ng-model="data.email">

          </label>

          <label class="item item-input">

              <input type="password" placeholder="Contraseña" ng-model="data.password">

          </label>

      </div>

      <button class="button button-block button-calm" ng-click="login()">Ingresa</button>

  </ion-content>

</ion-view>
