<ion-view ng-controller="newWorkOrderCtrl" ng-init="initController()">

  <!-- NavBar -->
  <div ng-controller="navbarCtrl" class="bar bar-header bar-dark">
    <button ng-click="cancelNewDocument()" class="button button-icon icon ion-close-circled"></button>
    <div class="h1 title"></div>
    <button ng-click="openPopover($event)"  class="button button-icon icon ion-navicon"></button>
  </div>


  <div class="bar bar-subheader bar-stable">
     <h2 class="title">Nuevo documento</h2>
  </div>

	<ion-content class="has-subheader">

		<form class="padding">


      <ng-include src="'partials/orderDocs/docsPartials/inputs/docsInfo.html'"></ng-include>

      <ng-include src="'partials/orderDocs/docsPartials/inputs/docsGeneral.html'"></ng-include>

      <ng-include src="'partials/orderDocs/docsPartials/inputs/docsSolicitud.html'"></ng-include>

      <ng-include src="'partials/orderDocs/docsPartials/inputs/docsTrabajo.html'"></ng-include>

      <ng-include src="'partials/orderDocs/docsPartials/inputs/docsRequerimiento.html'"></ng-include>

      </form>

      <div class="row">
        <div class="col">
          <button class="button button-block button-calm pull-left" ng-click="changeState('docs');">
            <span class="icon ion-arrow-left-a"></span>
            Volver
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-balanced pull-right" ng-click="createDocument();">
            Crear
          </button>
        </div>
      </div>

		</div>
	</ion-content>
</ion-view>
