<ion-view ng-controller="work_order_new_controller">

  <!-- NavBar -->
  <div ng-controller="navbarCtrl" class="bar bar-header bar-dark">
    <button ng-click="cancelNewDocument()" class="button button-icon icon ion-ios-arrow-back"></button>
    <div class="h1 title">Orden de trabajo</div>
    <button ng-click="openPopover($event)"  class="button button-icon icon ion-navicon"></button>
  </div>

  <!-- SubHeader -->

  <!-- Contenido -->
  <ion-pane class="has-header" has-subheader="true" style="padding-top: 44px">

      <ion-slides options="options" slider="data.slider">

        <!-- Primera Slide -->
        <ion-slide-page>

          <div class="bar bar-stable">
             <h2 class="title">Información del documento</h2>
          </div>

          <ion-content class="margin-bottom" style="padding-top:44px;">
            <ng-include src="'partials/work_order_partials/inputs/inputs_info_documento.html'"></ng-include>
          </ion-content>

        </ion-slide-page>


        <!-- Segunda Slide -->
        <ion-slide-page>

          <div class="bar bar-stable">
             <h2 class="title">Información general</h2>
          </div>

          <ion-content class="margin-bottom" style="padding-top:44px;">
            <ng-include src="'partials/work_order_partials/inputs/inputs_info_general.html'"></ng-include>
          </ion-content>

        </ion-slide-page>


        <!-- Tercera Slide -->
        <ion-slide-page>

          <div class="bar bar-stable">
             <h2 class="title">Información de la solicitud</h2>
          </div>

          <ion-content class="margin-bottom" style="padding-top:44px;">
            <ng-include src="'partials/work_order_partials/inputs/inputs_info_solicitud.html'"></ng-include>
          </ion-content>

        </ion-slide-page>

        <!-- Cuarta Slide -->
        <ion-slide-page>

          <div class="bar bar-stable">
             <h2 class="title">Información de trabajo</h2>
          </div>

          <ion-content class="margin-bottom" style="padding-top:44px;">
            <ng-include src="'partials/work_order_partials/inputs/inputs_info_trabajo.html'"></ng-include>
          </ion-content>

        </ion-slide-page>

        <!-- Quinta Slide -->
        <ion-slide-page>

          <div class="bar bar-stable">
             <h2 class="title">Requerimientos</h2>
          </div>

          <ion-content class="margin-bottom" style="padding-top:44px;">
            <ng-include src="'partials/work_order_partials/inputs/inputs_info_requerimientos.html'"></ng-include>
          </ion-content>

        </ion-slide-page>

      <ion-slide-page>

        <ion-slide-page>
          <ion-content class="margin-bottom">
            <button class="button button-full button-calm " ng-click="createDocument()">Previsualizar</button>
            <button id="saveButton" class="button button-full button-calm " ng-click="save()">Guardar</button>
            <a href="#/home" class="button button-full button-calm ">Volver a inicio</a>
          </ion-content>
        </ion-slide-page>

      </ion-slide-page>

      </ion-slides>

  </ion-pane>


</ion-view>

<script id="pdf-viewer.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Documento</h1>
        <button ng-click="closeVmModal()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>
    <ion-content>
        <ng-pdf ng-if="pdfUrl" template-url="partials/orderDocs/docsPartials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
    </ion-content>
    </ion-modal-view>
</script>
