
<div class="list">

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha</span>
    <input type="text" readonly="true" class="readonly_custom custom-item-input-padding" ng-click="openFechaSolicitudPicker()" ng-model="data.ds_fecha_solicitud">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Medio Solicitud</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" ng-model="data.ds_medio_solicitud" >
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha Visita</span>
    <input type="text" readonly="true" class="readonly_custom custom-item-input-padding" ng-click="openFechaAcordadaPicker()" ng-model="data.ds_fecha_visita_acordada">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Hora Visita</span>
    <input class="readonly_custom ustom-item-input-padding" readonly="true" type="text" ng-model="data.ds_hora" >
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Visitante</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" ng-model="data.ds_visita_efectuada_por">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Recepción</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" ng-model="data.ds_nombre_quien_recibe">
  </label>


 </div>
