
<div class="card" ng-repeat="c in data.data_conformidades" >
  <div class="item item-divider">
    Acta de conformidad {{$index + 1}}
  </div>

  <div class="item item-text-wrap" style="padding: 0px;">

    <ul class="list">

        <li class="item">
          <b>Recepcionado por</b><br><span ng-if="!c.recepcionado_por">No asignado</span><span ng-if="c.recepcionado_por">{{c.recepcionado_por}}</span>
        </li>

        <li class="item">
          <b>Telefono</b><br><span ng-if="!c.telefono">No asignado</span><span ng-if="c.telefono">{{c.telefono}}</span>
        </li>

        <li class="item">
          <b>Nivel de conformidad</b><br><span ng-if="!c.nivel_conformidad">No asignado</span><span ng-if="c.nivel_conformidad">{{c.nivel_conformidad}}</span>
        </li>

        <li class="item">
          <b>Fecha de conformidad</b><br><span ng-if="!c.fecha">No asignado</span><span ng-if="c.fecha">{{c.fecha}}</span>
        </li>

        <li class="item">
          <b>Requerimientos aceptados</b><br>
          <ul>
            <li ng-repeat="req in data.requerimientos" ng-if="(req.conformidad == c.nivel_conformidad)"> * {{req.item}} - {{req.problema}}</li>
          </ul>

        </li>

        <li class="item">
          <b>Observaciones</b><br><span ng-if="!c.observaciones">Sin observacioness</span><span ng-if="c.observaciones">{{c.observaciones}}</span>
        </li>

        </div>
    </ul>

  </div>




</div>
