<fieldset xlass="padding">

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Recepcionado por:</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" readonly="true" ng-model="data.conformity_data.recepcionado_por">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Telefono:</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" readonly="true" ng-model="data.conformity_data.telefono">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Conformidad:</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" readonly="true" ng-model="data.conformity_data.nivel_conformidad">
  </label>

  <label class="item item-input custom-item-input">
    <span class="custom-item-input-label">Fecha:</span>
    <input class="readonly_custom custom-item-input-padding" readonly="true" type="text" readonly="true" ng-model="data.conformity_data.fecha">
  </label>

</fieldset>
