<div name="datos-receptor">

  <!-- SEPARADO -->
    <div class="item item-divider">
      Datos del receptor
    </div>

  <!-- INPUT -->
    <div ng-if="error_recepcionado_por" class="assertive error-item">
        <span>{{error_recepcionado_por}}</span>
        <span class="ion-arrow-down-c"></span>
    </div>

    <label class="item item-input custom-item-input">
      <span class="custom-item-input-label">
        Recepcion por:
      </span>
      <input text-only class="custom-item-input-padding" type="text" ng-model="rejection_data.recepcionado_por" placeholder="Felipe Jara">
    </label>

  <!-- INPUT -->

    <div ng-if="error_data_telefono" class="assertive error-item">
      <span>{{error_data_telefono}}</span>
      <span class="ion-arrow-down-c"></span>
    </div>

    <label class="item item-input custom-item-input">
      <span class="custom-item-input-label">Telefono</span>
      <div class="custom-item-input-padding custom-item-input-padding-combobox">
        <input phone-only type="text" placeholder="Ej: 22857907" ng-model="rejection_data.telefono">
        <span class="ion-ios-telephone caret-icon"></span>
      </div>
    </label>


</div>

<div name="requerimientos-aceptados">

  <!-- SEPARADOR -->
    <div class="item item-divider">
      Rechazo de requerimientos
    </div>

  <!-- INPUT -->
    <div ng-if="error_requerimientos" class="assertive error-item">
      <span>{{error_requerimientos}}</span>
      <span class="ion-arrow-down-c"></span>
    </div>

    <ion-list>
      <ion-checkbox ng-repeat="req in data.requerimientos" ng-if="::(!req.id_rechazo && !req.id_conformidad)" ng-model="lista_checkbox_requerimientos[$index]">
        {{req.lugar}} - {{req.item}} <br> Problema: {{req.problema}} <br> Recinto: {{ req.recinto }}
      </ion-checkbox>
    </ion-list>

</div>

<div name="observaciones-cliente">

     <div class="item item-divider">
       Observaciones
     </div>

    <textarea type="text" ng-model="rejection_data.observaciones" style="width: 100%; padding: 5px;" rows="8" placeholder="Detalles con respecto al nivel de conformidad seleccionado"></textarea>

</div>
