.to-bottom{
	bottom: 10%;
}

input[readonly].readonly_custom,
textarea[readonly].readonly_custom{
	background-color: white;
	cursor: default;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.margin-bottom{
	margin-bottom: 40px;
}

.custom-item-input{
	overflow: hidden;
	position: relative;
	height: 46px;
}

.custom-item-input-label{
	background-color: #f8f8f8;
	height: 100%;
	width: 45%;
	position: absolute;
	left:0;
	top: 0;
	overflow: hidden;
	padding-top: 12px;
	padding-left: 8px;
}

.custom-item-input-padding{
	padding-left: 46%  !important;
}

.item-listing{
	position: relative;
}

.item-listing span.item-icon{
	font-size: 50px;
}

.item-listing span.item-text{
	position: absolute;
	top: 14px;
	padding-left: 20px;
}

.item-listing span.item-caret{
	font-size: 25px;
	position: absolute;
	right: 0px;
	top: 12.5px;
}

.item-listing-no-icon{
	position: relative;
}

.item-listing-no-icon span.item-index{
	font-size: 50px;
}

.item-listing-no-icon span.item-text{
	position: absolute;
	top: 6px;
	padding-left: 20px;
}

.item-listing-no-icon span.item-caret{
	font-size: 25px;
	position: absolute;
	right: 0px;
	top: 3px;
}
