.fundamenta{
	font: Times;
}

.my-header{
	height: 65px;
	background: #045; important!
}

.center {
    margin: auto;
    width: 50%; important!
    border: 3px solid green;
    padding: 10px;
}

.to-bottom{
	bottom: 10%;
}

input[readonly].readonly_custom{
	background-color: white;
	cursor: default;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.margin-bottom{
	margin-bottom: 40px;
}

.custom-item-input{
	overflow: hidden;
	position: relative;
	height: 46px;
}

.custom-item-input-label{
	background-color: #f8f8f8;
	height: 100%;
	width: 45%;
	position: absolute;
	left:0;
	top: 0;
	overflow: hidden;
	padding-top: 25%;
	padding-left: 2%;
}

.custom-item-input-padding{
	padding-left: 46% !important;
}
